*.o
.vscode
*.csv
btc
PmergeMe
RPN
easyfind
Span
MutantStack
whatever
iter
Array
ScalarConverter
Serializer
identify
Bureaucrat
form
Forms
Intern
Animals
AMateria
ClapTrap
ScavTrap
FragTrap
DiamondTrap
FixedPointNums
Zombies
zombieHordes
megaphone
war
replace
Harl
megaphone
NumbersYouWontAnswer
main